#Corpo {
    background-image: url('../HTML/Imagens/Avocado\ background.jpg');
}

.Modulos {
    background: #D5F394;
    border: 2px solid;
    margin: 2px;
    padding: 0 20;
}

.Titulo{
    border: 3px solid;
    padding: 10;
}

.ConteudoAula{
    border: 3px solid;
    padding: 20;
}