*{
    margin: 0;
    padding: 0;
}

#Corpo {
    background-image: url('../HTML/Imagens/Avocado\ background.jpg');
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

#ConteudoAula{
    clear: both;
    padding: 10;
}

#TituloAula{
    padding: 5;
    text-align: center;
}

#ConteudoAula, #TituloAula {
    border: 3px solid;
    margin: 2;
}

#LinkVoltar {
    margin: 2;
    padding: 10;
    text-align: center;
}

#LinkVoltar a{
    clear: both;
    color: green;
    padding: 5 7.5;
    text-decoration: none;
}

#LinkVoltar a:link, #LinkVoltar a:visited {
    background: #9EF6C3;
}

#LinkVoltar a:hover {
    background: green;
    color: #9EF6C3;
}

.Modulos {
    background: #D5F394;
    border: 2px solid #254A02;
    float: left;
    margin: 10;
    padding: 10;
    width: 300;
}

.Modulos h1{
    font-size: 2em;
    padding: 5 10;
    text-align: center;
}

.Modulos ul {
    margin: 5;
}

.Modulos li {
    list-style-type: none;
}

.Modulos a{
    color: black;
    display: block;
    margin: auto;
    padding: 5;
    text-decoration: none;
    width: 250;
}

.Modulos a:hover{
    color: white;
    background: #254A02;
}